/src/sandbox01/Library/*
/src/sandbox01/Temp/*
/src/sandbox01/obj/*
/src/sandbox02/Library/PackageCache/*
/src/sandbox02/Library/*
/src/sandbox02/Temp/*
/src/sandbox02/Logs/*
/src/sandbox01/.vs/sandbox01/v16/.suo
/src/sandbox03/Library/*
/src/sandbox03/ProjectSettings/*
/src/sandbox03/Temp/*
/src/sandbox03/Logs/*
